<form action="/square_root/results">
  <div>
    <label for="square_root">Enter a number</label>
    <input id="square_root" type="text" name="users_number" placeholder="What number do you want to square root?">
  </div>

  <button>Calculate square root</button>
</form>
